*{
    margin: 0;
    padding: 0;
}
.HomePage{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 0, 0, 0.488), rgba(0, 0, 0, 0.451)), url('./IMAGE/beard\ trimming.jpg');
    background-position: center;
    background-size: cover;
}
.HomeContent{
    width: 100% !important;
    position: absolute !important;
    top: 40%;
    transform: translateY(-15%);
    text-align: center;
}
.HomeContent h1{
    font-size: 3rem !important;
    
}
.profile-Area{
    width: 100% !important;
    
}

.card img{
    width: 15% !important;
   
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h1:hover{
    color: red;
    transition: 0.5s; 
}


/*pg 3*/
.PG3{
    background-color: black;
}
.Top{
    border-bottom: 2px solid red;
    padding: 6px;
}
.imageDiv{
    width: 600x;
    height: 500px;
    overflow: hidden;
}
.imageDiv img{
    width: 100%;
    height: auto;
}
.TOPNOTCH{
    position: relative;
    top: 50;
    
}




    .glider {
      width: 500px;
      height: 300px;
      margin: 0 auto;
    }

    .slide {
      background-color: #fff;
      border: 1px solid #ccc;
      text-align: center;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
