*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBar{
    z-index: 4444;
    background-color: #000000;
    color: white !important;
}
.ConctactUs{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(80, 64, 5, 0.452) !important;
    z-index: 22222;
    width: fit-content;
    position: fixed;
    color: black;
    top: 50%;
    right:0
    
}
.ConctactUs a{
    margin-top: 13px;
    color: white !important;
    z-index: 3333;
    


   
}
.ConctactUs a:hover{
    color: red;
}
.HomePage{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 0, 0, 0.488), rgba(0, 0, 0, 0.451)), url('./IMAGE/beard\ trimming.jpg');
    background-position: center;
    background-size: cover;
}
/*Words on the Landing page*/
.HomeContent{
    width: 100% !important;
    position: absolute !important;
    top: 20%;
    transform: translateY(-15%);
    
}
.HomeContent h1{
    font-size: 2rem !important;
    font-family: 'Julius Sans One', sans-serif;
    
}
.profile-Area{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    
}

.card img{
    width: 15% !important;
   
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h1:hover{
    color: red;
    transition: 0.5s; 
}


/*pg 3*/
.PG3{
    background-color: black;
}
.Top{
    border-bottom: 2px solid red;
    padding: 6px;
}
.imageDiv{
    width: 600x;
    height: 500px;
    overflow: hidden;
}
.imageDiv img{
    width: 100%;
    height: auto;
}
.TOPNOTCH{
    position: relative;
    top: 50;
    
}





    .glider {
      width: 500px;
      height: 300px;
      margin: 0 auto;
    }

    .slide {
      background-color: #fff;
      border: 1px solid #ccc;
      text-align: center;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
/*
Carousel designing
*/
.Wrapper-Caousel-container{
    max-width: 1200px;
    width:95%;
}
.Carouel-Container{
    min-height: 100vh;
}
.slider-wrapper .img-list{
    display: grid;
    gap: 6px;
    font-size: 0;
    overflow: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .img-list .img-item{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.slider-wrapper .img-list::-webkit-scrollbar{
    display: none;
}


/*  CSS rules for smartphones and small tablets here */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Your CSS rules for smartphones and small tablets here */
    .TOPNOTCH{
        
        top: -1 !important;
        
    }
    .Top{
        padding: 0px;
        top:0;
    }
    .HomeContent{
        width: 100% !important;
        position: absolute !important;
        top: 10%;
        transform: translateY(-15%);
        
    }
    .HomeContent h1{
        font-size: 5rem !important;
        font-family: 'Julius Sans One', sans-serif;
        
    }
  }